body {
background-color: #FFFFFF;
color: #111111;
font-family: 'Roboto', sans-serif;
}

.container{
height: auto;
width: 70%;
margin-top: 2em;
margin-bottom: 2em;
margin-right: 15%;
margin-left: 15%;
border: 2px solid #444444;
padding-left: 1em;
padding-right: 1em;
min-width: 700px;
max-width: 1000px;
}

.top{
}

.center{
font-family: 'Work Sans', sans-serif;
border: 1px solid #444444;
}

.bottom{
}